/* =================================
        Banner / WeekDays
   =================================
*/
#Sunday-top{
    background-image: url("/Web_project/Images/Banner/WeekDays/SUNDAY.jpg");
}
#Monday-top{
    background-image: url("/Web_project/Images/Banner/WeekDays/Monday.jpg");
}
#Tuesday-top{
    background-image: url("/Web_project/Images/Banner/WeekDays/TUESDAY.jpg");
}
#Wednesday-top{
    background-image: url("/Web_project/Images/Banner/WeekDays/WEDNESDAY.jpg");
}
#Thuresday-top{
    background-image: url("/Web_project/Images/Banner/WeekDays/THURSDY.jpg");
}
#Friday-top{
    background-image: url("/Web_project/Images/Banner/WeekDays/Friday.jpg");
}
#Saturday-top{
    background-image: url("/Web_project/Images/Banner/WeekDays/Saturday.jpg");
}

/* =================================
       Resturant menus
   =================================
*/
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 20px;
}

.Restaurant {
    text-align: center;
     margin: 1em;
}

.Restaurant img {
    width: 450px;
    height: 230px;
    object-fit: cover;
    border-radius: 10px;
}

/* =================================
        Restaurant button
   =================================
*/
.button-Restaurant{
    margin:2rem
}